@model IRIS.Models.IrisProcessedLog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>IrisProcessedLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillerOrderNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillerOrderNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MsgControlId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MsgControlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submissiontime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submissiontime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durationtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durationtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltAccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltAccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthPlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthPlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RxpharmCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RxpharmCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HttpReturnCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HttpReturnCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detailedjobstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detailedjobstate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderControl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderControl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobidentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobidentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobspoolslot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobspoolslot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Queuesapplied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Queuesapplied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numberofdocuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofdocuments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobpagecount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobpagecount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctTno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctTno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctPdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctPdf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctPrintHvs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctPrintHvs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctPrintApsUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctPrintApsUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctPrintApsDown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctPrintApsDown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountGiveCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountGiveCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountNewRx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountNewRx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReorderLineCt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReorderLineCt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderLineCt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderLineCt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintAnywherePrinter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintAnywherePrinter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Msid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Msid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveJobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveJobs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDocTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDocTypes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintDrop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintDrop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edrop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edrop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocsStatusUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocsStatusUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tfn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tfn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorOrderFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorOrderFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PctPrintApsDuplex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PctPrintApsDuplex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientPreferenceHffEnrollmentFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientPreferenceHffEnrollmentFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientMohistoryFirstOrderFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientMohistoryFirstOrderFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CounthffStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CounthffStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SequenceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
